$cardHeight: 10px;

.event-card {
  margin-bottom: 4px;
  height: 150px;
}

.eventCardContainer {
  height: $cardHeight;
  margin: 10px;
  font-size: 20px;

  .eventCardContent {
    font-size: 20px;
    position: relative;

    .eventCardHeader {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      font-size: 12px;
    }

    .eventCardContent {
      display: flex;
      font-size: 12px;
      flex-direction: column;
      justify-content: center;
    }

    .eventCardBody {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .eventCardDetails {
      display: flex;
      align-items: baseline;
    }

    .eventCardProperties {
      height: 25px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      font-size: 12px;
    }
  }
}

.eventCardPropertyLine {
  height: 28px;
  font-size: 12px;
}

.eventCardHazzard {
  line-height: 24px !important;
}

.eventCardTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 95%; //whatever you need
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eventCardAddress {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}

.eventCardDates {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.eventCardButtons {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 7px;
}

.eventCardIcon {
  color: #9b9b9b !important;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
