.panel-selected-settings {
  padding: 10px 35px;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
  box-sizing: border-box;
}

.panel-settings {
  display: flex;
}

.section-settings {
  float: left;
  width: calc(100% - 350px);
  background-color: #303030;
}

.list-section-settings {
  width: 300px;
  height: calc(100vh - 120px);
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.layer-panel{
  width: 100%;
}

.layer-setting-panel-list{
  width: 100%; 
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 150px);
}