.horizontalLineStyle{
    border-style: ridge;
    margin: 0px;
    border-color: grey;
}

.task-detail-body{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-left:40px;
     width: 100%;
}