.ag-loc-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  border-style: none none solid;
  border-width: 1px;
}

.ag-loc-body {
  display: flex;
}

.ag-loc-empl {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border-style: none none solid;
  border-width: 1px;
}

.ag-loc-general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  border-style: none none solid;
  border-width: 1px;
  padding: 10px;
  font-size: 12px;
}

.ag-loc-general-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ag-loc-general-lastupdate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ag-loc-organisation {
  border-style: solid none none;
  border-width: 1px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.ag-loc-container {
  display: flex;
  width: 500px;
}

.wearable-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wearable-row {
  display: flex;
  align-items: center;
}
.agent-verticalLine {
  border-left: 1px ridge grey;
  left: 50%;
  height: 100%;
}
