.emcomms.container {
  width: 100%;
  height: 100%;
  background-color: black;

  .listview {
    width: 100%;
    height: calc(100% - 48px - 32px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .emcomm-list-item {
    width: 100%;
    height: 30%;
    margin-bottom: 4px;

    // .emcomm-card {
    //   width: 100%;
    //   height: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   font-weight: 300;
    // }
  }

  .emcomm-list-filters,
  .emcomm-list-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .emcomm-list-filters {
    justify-content: space-around;
  }

  .emcomm-list-header {
    justify-content: space-between;
  }

  .emcomm-list-filters {
    .filter-cbx-label {
      position: relative;
      z-index: 10;
      left: -12px;
      width: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .emcomm-list-header {
    .events-list-header__item {
      margin: 0 4px;
    }
  }
}
