.settings {
  -webkit-box-align: start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  display: table;
}

.list-settings {
  width: 350px;
  height: 100%;
  float: left;
  background-color: #262626;
}

.section-settings {
  float: left;
  width: calc(100% - 350px);
  background-color: #303030;
}

.header-settings {
  width: 100%;
  background-color: rgb(176, 49, 11) !important;
}

.selected-settings {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.list-section-settings {
  width: 300px;
  height: calc(100vh - 120px);
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.layers-settings-configuration-item{
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
  min-height: '48px';
  padding: 5px 5px 5px 15px;
  transition: all 0.5s;
  &:hover{
    background: #5a5a5a;
  }
}


.panel-settings {
  display: flex;
}

.panel-selected-settings {
  padding: 10px 35px;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
  box-sizing: border-box;
}

.subtitle-settings {
  font-size: 12px;
  color: #6b6b6b;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
