.quick-user-add {
  width: 100%;
  height: 100%;
  .select-op {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div.input {
      width: 40%;
    }
  }
  .select-org {
    width: 500px;
    margin-bottom: 50px;
  }
  .orgTable {
    width: 70% !important;
  }
  .orgUsersContainer {
    width: 70%;
    margin-top: 30px;
  }
  .orgUsersTitle {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
  .orgUsersSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
