.small-report-card {
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .report-popup-thumbnail {
    width: 94px;
    height: 94px;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    transition: background-image 250ms ease-in-out;

    .hazard-banner {
      position: absolute;
      bottom: 0;
      text-align: center;
      font-size: 10px;
      width: 100%;
      padding: 4px 0;
      text-transform: uppercase;
    }
  }

  .report-popup-info {
    height: 78px;
    margin-bottom: auto;
    margin-right: 3px;
    margin-top: auto;
    width: calc(100% - 78px);
    display: flex;
    padding: 8px;
    align-items: center;

    $actionWidth: 0px;
    $minInnerElementSize: 20px;

    .actions,
    .content-info,
    .date-votes-validation {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
    }

    .content-info,
    .date-votes-validation {
      justify-content: space-between;
    }

    .actions {
      justify-content: space-around;
    }

    .content-info {
      width: calc(63% - #{$actionWidth});
      height: 100%;

      .author {
        height: 2 * $minInnerElementSize;
      }

      .contents {
        height: $minInnerElementSize;
      }

      .author,
      .contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        width: 100%;
        justify-content: flex-start;

        .reporter {
          font-size: 14px;
          white-space: normal;
          max-width: calc(100% - #{$minInnerElementSize});
          margin: auto 0 0 6px;
          font-weight: 200;
          max-height: 100%;
          overflow: hidden;
          //height: $minInnerElementSize;
        }

        .report-stats {
          font-weight: normal;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          font-size: 15px;

          .category-icons {
            height: 26px;
            // padding: 0 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .ireact-icons,
            .material-icons {
              margin: 0 4px;
            }
          }
        }
      }
    }

    .date-votes-validation {
      width: 37%;
      height: 100%;

      .date {
        font-size: 10px;
        font-weight: 200;
        text-transform: capitalize;
        white-space: nowrap;
        height: $minInnerElementSize;
        line-height: $minInnerElementSize;
      }
    }

    .actions {
      width: $actionWidth;
      height: 100%;
    }
  }
}
.operational-settings{
  height: calc(100vh - 120px);
  overflow-y: scroll; 
}
