.login.page {
  .flag-icon {
    width: 24px;
  }

  .link {
    min-width: 88px;
    width: 304px;
  }

  a,
  a:visited {
    color: inherit;
  }
}

// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0px 1000px #303030 inset;
// }
