$background: #242424;
$content: #303030;
$header: #3c3c3c;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}

.first {
  width: 100%;
  height: 70px;
  background-color: #bf360b;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
}

.next-box {
  height: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  //transition: all 100ms ease-in-out;
  width: 99%;
  margin: auto;
  position: relative;
  top: -62px;
}

.second {
  width: 24.5%;
  background-color: $content;
}
.smallCardTitle {
  margin-left: 10px;
  margin-top: 10px;
}

.smallCardContainer {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.smallCardBigNumber {
  font-size: 30px;
}
.smallCardLitNumber {
  line-height: 44px;
}
.smallCardProgBar {
  width: initial !important;
  margin: 5px 20px 5px 25px !important;
  background-color: black !important;
}
.smallCardProgLegend {
  margin-left: 25px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
}
.smallCardTopLegend {
  margin: 15px 20px 0px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
}
.leftDiv {
  width: 30%;
  background-color: $content;
}
.cardContent {
  height: 300px;
  background-color: $content;
}
.toolbar {
  padding: 0px 0px 0px 20px !important;
  background-color: $header !important;
  display: block !important;
}
.rightDiv {
  width: 69.5%;
  background-color: $content;
}
.unique {
  width: 100%;
  background-color: $content;
}
.tag-cloud {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
}
.hashtagCloudContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.cardTopProf {
  background-color: $content !important;
  color: white;
}
.topCircle {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-right: 15px;
}
.topCircleHidden {
  width: 15px;
  height: 0px;
  margin-right: 15px;
}

.tweets-lazy-scroll .redux-lazy-scroll {
  position: absolute;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  width: 100%;
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 40px solid #8fa2ac;
    border-right: 40px solid transparent;
    position: absolute;
    z-index: 99;
    filter: drop-shadow(2px 2px 2px rgba(1, 1, 1, 0.5));
  }
}

.transition {
  opacity: 01;
  transform: scaleX(0) translateY(100px);
  transition: all 300ms ease-in-out;
  background: #681900;
}

.bound {
  position: relative;
}

.buttonResearch {
  position: absolute;
  top: 0;
  z-index: 2;
  width: fit-content;
  margin: auto;
  left: 0;
  right: 0;
}
.ireact-pinpoint-icons-social {
  height: auto !important;
  width: auto !important;
}
