$paddingLR: 24px;
@mixin snackbarMessageAction($width: 0px, $actions: 0) {
  .app-snackbar__message {
    width: calc(150% - #{$width} - #{2 * $paddingLR});
  }

  .app-snackbar__actions {
    width: $width;

    .snackbar-action {
      @if ($actions > 0) {
        width: $width / $actions;
      } @else {
        width: $width;
      }
    }
  }
}

.app-snackbar {
  span + button {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    transition: none !important;
    padding: 0 !important;

    div {
      &,
      & span {
        line-height: 0;
        padding: 0 !important;
      }
    }
  }

  .app-snackbar__message {
    position: fixed;
  }

  .app-snackbar__actions {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: $paddingLR;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .snackbar-action {
      text-align: center;
      line-height: inherit;
      height: 100% !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
  @include snackbarMessageAction();

  &.one-action {
    @include snackbarMessageAction(70px, 1);
  }

  &.two-actions {
    @include snackbarMessageAction(140px, 2);
  }
}
