.content-type-chip,
.hazard-chip {
  height: 24px;

  .content-type-chip-label,
  .hazard-label {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.emcomm-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  $ctrlWidth: 48px;
  font-weight: 300;

  .emcomm-card__content {
    width: calc(100% - #{$ctrlWidth + 16px});
    height: calc(100% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .emcomm-card__title {
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .emcomm-card__address {
      font-size: 12px;
    }

    .emcomm-card__dates,
    .emcomm-card__organization {
      font-size: 12px;
    }
  }

  .emcomm-card__controls {
    width: $ctrlWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.level {
  $size: 16px;
  height: $size;
  margin: 0 4px;

  &.warning {
    width: 3 * ($size + 2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .box {
      width: $size;
      height: $size;
      border: 2px solid;
      box-sizing: border-box;
    }
  }

  &.alert {
    width: 3 * $size;
  }
}

.reportrequest-status {
  margin: 0 8px;
  display: inline-block;
  $size: 8px;
  height: $size;
  width: $size;
  border-radius: 100%;
  box-sizing: border-box;
}

.reportrequest-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .category-icon {
    margin: 0 4px;
  }

  .content-type-chip {
    margin-right: 8px;
  }
}

.emcomm-card__emcdesc {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  padding-left: 0px;
}
