.agent-location-card {
  margin: 10px;
  display: flex;
}

.agent-icon {
  width: 10%;
  margin-top: 2px;
}

.agent-info {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90px;
}

.agent-props-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agent-props-middle-line {
  font-size: 12px;
}

.agent-props-bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.agent-name {
  font-size: 18px;
  font-weight: bold;
}

.agent-lastUpdate {
  padding-right: 20px;
}
