$cardHeight: 10px;

.mapRequest-card {
  margin-bottom: 4px;
}

.mapRequestCardContainer {
  height: $cardHeight;
  margin: 10px;
  font-size: 20px;

  .mapRequestCardContent {
    font-size: 20px;
    position: relative;

    .mapRequestCardHeader {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      font-size: 12px;
    }

    .mapRequestCardContent {
      display: flex;
      font-size: 12px;
      flex-direction: column;
      justify-content: center;
    }

    .mapRequestCardBody {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .mapRequestCardDetails {
      display: flex;
      align-items: baseline;
    }

    .mapRequestCardProperties {
      height: 25px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      font-size: 12px;
    }
  }
}

.mapRequestCardPropertyLine {
  height: 28px;
  font-size: 12px;
}

.mapRequestCardHazzard {
  line-height: 24px !important;
}

.mapRequestCardTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 97%; //whatever you need
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
}

.mapRequestCardAddress {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}

.mapRequestCardDates {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.mapRequestCardButtons {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 7px;
}

.mapRequestCardIcon {
  color: #9b9b9b !important;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.mapRequestButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-right: 7px;
  position: absolute;
  top: 0;
  right: 0;
}
