.task-detail-card {
  display: flex;
  justify-content: space-between;
}

.task-detail-card-info {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 10px;
}

.task-detail-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status-task {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 5px;

  position: relative;

  & .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.75);

    transition: opacity 300ms cubic-bezier(0.39, 0.575, 0.565, 1);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 8px;
    top: -18px;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.task-card {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
