.status-mission {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.mission-card {
  width: auto;
  height: 90px;
  margin-bottom: 5px;
  padding: 20px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 12px;
  display: flex;
}

.mission-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mission-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mission-progress {
  width: 64%;
  margin: 10px;
}
