.emcomm-card__title {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
}

.emCommFirtsColumnInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 15px;
}

.emCommSecondColumnInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 13px;
}

.hrStyle {
  border-top: 1px solid #ccc;
}

.card-title {
  border-style: ridge;
  border-color: grey;
  border-width: 1px;
  padding: 0px;
}

.card-description {
  border-style: ridge;
  border-color: grey;
  border-width: 1px;
  padding: 10px;
  min-height: 230px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.first-column-footer {
  padding: 10px;
  text-align: center;
  border-style: ridge;
  border-color: grey;
  border-width: 1px;
  border-bottom: none;
  min-height: 29px;
}

.horizontalLineStyle {
  border-style: ridge;
  margin: 0px;
  border-color: grey;
}

.emComm-info-group {
  padding: 10px;
  padding-left: 0px;
  word-break: break-all;
}

.emcomm-verticalLine {
  border-left: 1px ridge grey;
  left: 60%;
}
