.reportRequestCard{
    width: auto;
    height: 90px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 12px;
    display: flex;
}

.reportRequestInfo{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.reportRequestBar{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.reportRequestDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.reportRequestActions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}