.mapboxgl-popup-content{
  padding: 0px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(48, 48, 48, 48);
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(48, 48, 48, 48);
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(48, 48, 48, 48);
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(48, 48, 48, 48);
    }
.detail-container {
    position: relative;
}

.bottomleft {
    position: absolute;
    top: -70px;
    left: 100px;
     opacity: 1;
}

.bottomright {
    position: absolute;
    top: -70px;
    right: -100px;
    font-size: 50px;
     opacity: 1;
}

.detail-img {
    width: 100%;
    max-height: 300px;
    height: auto;
    opacity: 0.7;
}

.reportDetailSecondColumnInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    font-size: 11px;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.red { color: red; }
.material-icons.green { color: green!important; }
.material-icons.orange { color: orange!important; }
.material-icons.plum { color: plum!important; }
.material-icons.grey { color: grey!important; }

.cardMedia{
    position: relative;
}
.cardMediaButtons{
    position: absolute;
    top:68%;
    left: 37%;
}

.paperClass{
    background-color: transparent!important;
    box-shadow: none!important;
}
.cardEventMap:first-child div{
  padding-bottom: 0 !important
}
.EventPopupData{
  display: flex;
  margin-bottom: 10px;
}
.EventPopendDate{
  padding-left: 25px !important
}
