$roboto-font-path: '~roboto-fontface/fonts';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';

$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/_variables';
@import '~@mdi/font/scss/_functions';

$flag-icon-css-path: '~flag-icon-css/flags';
@import '~flag-icon-css/sass/_variables.scss';
@import '~flag-icon-css/sass/_flag-icon-base.scss';

@font-face {
  font-family: '#{$mdi-font-name}';
  src: url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2') format('woff2'),
    url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import '~@mdi/font/scss/_core';
@import '~@mdi/font/scss/_icons';
@import '~@mdi/font/scss/_extras';
@import '~@mdi/font/scss/_animated';

// all those supported by https://www.meteoalarm.eu/, although the UI only supports de en es fr fi it
$supported-ui-languages: bg bs cz da de ee en es es es fi fr gr he hr hu is it lt lv me mk mt nl no
  pl pt ro rs se sk sl va;
@each $lang in $supported-ui-languages {
  @if ($lang == da) {
    @include flag-icon('dk');
  } @else if ($lang == se) {
    @include flag-icon('sv');
  } @else if ($lang == he) {
    @include flag-icon('il');
  } @else if ($lang == en) {
    @include flag-icon('gb');
  } @else {
    @include flag-icon($lang);
  }
}
.flag-icon-da {
  // Danemark
  @extend.flag-icon-dk;
}
.flag-icon-se {
  // Sweden
  @extend.flag-icon-sv;
}
.flag-icon-he {
  // Israel
  @extend.flag-icon-il;
}
.flag-icon-en {
  // UK
  @extend.flag-icon-gb;
}
@font-face {
  font-family: 'ireact-icons';
  src: url('../assets/fonts/ireact-icons-v3.ttf?9b7kuf') format('truetype'),
    url('../assets/fonts/ireact-icons-v3.woff?9b7kuf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ireact-pinpoint';
  src: url('../assets/fonts/ireact-pinpoint-v4.ttf?9b7kuf') format('truetype'),
    url('../assets/fonts/ireact-pinpoint-v4.woff?9b7kuf') format('woff');
  // src: url('../assets/fonts/Ireact-pinpoint.ttf?9b7kuf') format('truetype'),
  //   url('../assets/fonts/Ireact-pinpoint.woff?9b7kuf') format('woff');
  font-weight: normal;
  font-style: normal;
}

// See {owncloud}//I-REACT/Working/WP5/MockUps/mockup_appmobile_Scienseed_ISMB/Ongoing%20designs/icons%2005_03/ireact-icons/demo.html
// for icon codes
.ireact-icons,
[class*=' ireact-icons-'],
[class^='ireact-icons-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ireact-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// See {owncloud}/I-REACT/Working/WP5/MockUps/mockup_appmobile_Scienseed_ISMB/Ongoing%20designs/icons%2005_03/Ireact-pinpoint/demo.html
// for icon codes
.ireact-pinpoint-icons,
[class*=' ireact-icons-'],
[class^='ireact-icons-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ireact-pinpoint' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ireact-icons,
.ireact-pinpoint-icons {
  font-size: 24px;
  line-height: 24px;
}

body {
  font-family: 'Roboto';
}

body *:not(input) {
  user-select: none;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }

  &::-webkit-scrollbar-track:active {
    background: #333333;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

//DEBUG ONLY with platform browser
.cordova-camera-capture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  button {
    color: white;
    font-size: 1em;
    text-align: center;
    background: darkgreen;
    outline: none;
    border: none;
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.statusBarInfo {
  height: 100%;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  > div {
    margin: auto 0;
    align-items: center;
    display: flex;

    .material-icons {
      padding: 0 10px;
    }

    .datePicker {
      display: inline-block;
      width: 100px !important;
      padding-left: 15px;
      overflow: hidden;
    }
    .timePicker {
      display: inline-block;
      width: 100px !important;
      overflow: hidden;
      padding-top: 4px;
    }
  }
}

.filterBar {
  margin: auto 20px;
  height: 100%;

  .groupFilters {
    display: flex;
    height: 50%;
    align-items: baseline;

    .socialFilter {
      display: flex;
      margin-top: auto;
      box-sizing: border-box;
      padding: 0 10px;
      align-items: baseline;
    }
    .socialFilterFirstColumn {
      margin-top: 10px;
      width: 25%;
    }
    .socialFilterSecondColumn {
      margin-top: 10px;
      width: 25%;
    }
    .socialFilterThirdColumn {
      margin-top: 10px;
      width: 30%;
    }
    .socialFilterButtons {
      width: 20%;
      padding: 0;
      padding-left: 15px;
      box-sizing: border-box;
    }
    .socialFilterLabel {
      font-weight: bolder;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .keyboard-arrow {
      z-index: 99;
    }
    .inputFilters {
      padding-left: 10px;
    }
  }
}

.social-share-icon {
  font-size: 16px !important;
}

hr {
  border: 0.5px solid #2a2a2a;
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #303030 inset;
  -webkit-text-fill-color: wheat !important;
}

.role-color-dot {
  width: 8px;
  height: 8px;
  margin: auto 0 4px;
}

.status-report-request {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.status-map-request {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.mapboxgl-ctrl-bottom-left {
  bottom: 14px;
  right: 58px;
  .mapboxgl-ctrl.mapboxgl-ctrl-scale {
    float: right;
  }
}

div[aria-label='grid'] {
  &,
  &:focus,
  &:active {
    outline: none !important;
  }
}

.emcomm-card__info,
.emcomm-details-title {
  display: flex;
  flex-direction: row;

  .emcomm-language {
    margin-left: 8px;

    .flag-icon {
      border-radius: 100%;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: cover;
    }
  }

  .language-chip {
    height: 24px;
    margin-left: 8px;
    .emcomm-language {
      margin-left: 0px;
    }

    .content-type-chip-label,
    .language-label {
      line-height: 24px;
      // text-transform: uppercase;
      font-size: 12px;
    }
  }
}

a {
  &,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
