$primary1Color: #4db6ac; // teal300
$accent1Color: #ff6e40; // deepOrangeA200

$textColor: #ffffff; //white
$altTextColor: #000000; //white
$canvasColor: #303030; // default dark theme canvas color

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: $canvasColor;
  color: $textColor;
  a,
  a:visited {
    color: $primary1Color;
  }

  p:last-child {
    margin-bottom: 64px;
  }

  ::selection {
    color: $altTextColor;
    background: $accent1Color; /* WebKit/Blink Browsers */
  }
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }

  &::-webkit-scrollbar-track:active {
    background: #333333;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
