.uav-main-container {
  display: flex;
  height: 100%;
}
.imagesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mapContainer {
  height: 200px;
}
.rigthContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.UAVNotFound {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.regionCard {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 100px;
  margin-bottom: 8px;
}
.video {
  cursor: pointer;
}
.regionImage {
  width: 150px;
  max-width: 100%;
  max-height: 100%;
}
.cardName {
  margin-left: 50px;
  margin-right: 10px;
}
.uav-image {
  background: #242424;
  display: flex;
  flex-direction: column;
  width: 80%;

  // footer,
  header,
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer {
    height: 5%;
  }

  header {
    height: 15%;
  }

  main {
    height: 80%;

    canvas {
      width: 100%;
      height: 100%;
      border: 1px solid;
      box-sizing: border-box;
    }
  }
  .UAVheaderContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
