.home {
  position: relative;
  height: 100%;
}

.reportHeader {
  // background-color: #F3F3F3;
  .material-icons {
    vertical-align: middle;
  }
}

.reports-list-filters {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .report-filter-cbx {
    margin: auto;
  }
}

.compact {
  top: -30px;
  left: 8px;
  margin-bottom: -26px;
}

.btn-container-filter {
  padding: 16px;
  text-align: center;
}

.navigation-drawer {
  // background-color: #F0F0F0;
  $size: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  flex-direction: column;

  .navigation-drawer-item {
    width: $size;
    height: $size;
    cursor: pointer;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;

      &,
      &:active,
      &:focus,
      &:visited {
        text-decoration: none;
      }

      &.selected:hover {
        .material-icons,
        .navigation-drawer-label {
          color: white !important;
        }
      }
    }

    &.disabled {
      a {
        pointer-events: none;
      }
      cursor: not-allowed;
    }

    .navigation-drawer-label {
      display: block;
      font-size: 11px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transition: color 200ms ease-in-out;
    }
  }
}

.filterDrawer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 780px;
  white-space: nowrap;
}

.scrollTasks {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 415px;
  white-space: nowrap;
}

.scrollNewEvent {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 740px;
  white-space: nowrap;
}

.scrollLayers {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 850px;
  white-space: nowrap;
}

.drawerContent {
  width: 100%;
  float: left;
  height: 100%;
}

.drawerHeader {
  height: 170px;
}

.drawerBody {
  height: calc(100% - 170px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.drawerReportFilterContent {
  height: calc(100% - 150px);
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
}

.drawerFilterButton {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.drawerMissionHeader {
  height: 240px;
}

.drawerMissionContent {
  height: calc(100% - 240px);
  overflow: auto;
  position: absolute;
  width: 100%;
}

.drawerCreateEventHeader {
  height: 115px;
}

.drawerCreateEventContent {
  height: calc(100% - 180px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.addActionButton {
  position: absolute;
  bottom: 10px;
  z-index: 100;
}
