.divContainerTable {
  width: 50%;
}
.mainContainer {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.headerTable {
  display: flex;
  justify-content: space-between;
}
.headerDiv {
  margin-top: 20px;
}
