.datePicker,
.timePicker {
  input[type='text'] {
    color: white !important;
  }
}
.eventCardHazzard {
  line-height: 24px !important;
  background: transparent;
}

.apply-button {
  background-color: rgb(77, 182, 172);
}
.cancel-button {
  background-color: rgb(48, 48, 48);
  color: white;
}

.range-button {
  border-radius: 0px;
}

.date-range-picker-custom {
  background-color: rgb(48, 48, 48) !important;
}

.date-picker-buttons-right {
  text-align: right;
}

.date-picker-icons-white {
  color: white;
}

.buttons-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  text-transform: lowercase !important;
  margin-right: 10px;
}

.time-picker-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25%;
  margin-right: 21%;
  margin-top: 3%;
}

.mode-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.mode-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-button-hover {
  color: green;
}
